body{
    background-color: rgb(143, 102, 240);
    
}

form{
    background-color: rgb(108, 70, 117);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    margin-left: 1000px; 
    margin-top: -110px; 
    box-shadow: 0 4px 8px;  
}
 h1{
    font-size: 50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
 }
 .szoveg{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
 }