body{
    background-color: rgb(209, 202, 224);
    
}

.belepes{
    background-color: rgb(108, 70, 117);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    margin-left: 1000px; 
    margin-top: -110px; 
    box-shadow: 0 4px 8px;  
}
 h1{
    font-size: 50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
 }
 
h4{
   font-size: 20px ;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 200;
}
 .regisztracio{
    background-color: rgb(108, 70, 117);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    margin-left: 1000px; 
    margin-top: 10px; 
    box-shadow: 0 4px 8px;  
 }
 i{
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c29dfa;
  }